<% if @success %>
  <span id="success-message"><%= @success %></span>
<% end %>

<div class="potluck-show">
  <h2><%= @potluck.name %></h2>
  <ul>
    <li>Location: <%= @potluck.location  %></li>
    <li>Date: <%= date(@potluck.starts_at) %></li>
    <li>Time: <%= time(@potluck.starts_at) %></li>
    <li>Host: <a href="/users/<%= @potluck.host.id %>"><%= @potluck.host.username %></a></li>
  </ul>
  <% if logged_in? && authorized?(@potluck.host) %>
    <nav>
      <ul>
        <li><a href="/potlucks/<%= @potluck.id %>/edit">edit</a></li>
        <li><a><%= erb :"/potlucks/_delete", locals: {potluck: @potluck} %></a></li>
      </ul>
    </nav>
  <% end %>
</div>

<% if @errors %>
  <%= erb :"_errors", locals: { errors: @errors } %>
<% end %>

<% if current_user.attending?(@potluck) %>
  <h4>Yay, you are already attending! Thanks for bringing <%= current_user.bringing_to(@potluck) %></h4>
<% else %>
  <h3>Attend the Potluck</h3>
  <% if @dish_errors %>
    <%= erb :"_errors", locals: { errors: @dish_errors } %>
  <% end %>
  <%= erb :"/potluck_attendances/_form", locals: {potluck: @potluck} %>
<% end %>

<h2>Attendees</h2>
<% if !@potluck.potluck_attendances.empty? %>
  <ul>
    <% @potluck.potluck_attendances.each do |attendance| %>
      <li><%= attendance.user.username %> is bringing <%= attendance.dish %></li>
    <% end %>
  </ul>
<% else %>
  <h4>There are no attendees yet! Join the host <%= @potluck.host.username %> at this potluck!</h4>
<% end %>
